// @import 'core/variables';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'pages/index';
@import 'core/reset';
@import 'layout/allCharacters';
@import 'layout/favCharacters';

.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.resetBtn{
    background-color: pink;
    width: 100px;
}